project:
  type: website

website:
  title: "Pérégrinations pythonesques"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: cours_poo_solid.qmd
        text: Cours POO
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
